version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis_broker
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: ws_service
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: always