version: "3.8"
services:
  redis:
    image: redis:alpine
    container_name: redis_broker
    ports:
      - "6379:6379"
    restart: always

  app:
    build: .
    container_name: ws_service
    ports:
      - "8000:8000"
    environment:
      REDIS_URL: "redis://redis:6379"
      PYTHONUNBUFFERED: "1"
    stop_grace_period: 30m
    depends_on:
      - redis
    restart: always